<div class="rounded-[4rem] overflow-hidden text-center m-auto">
  <video #videoPlayer class="max-h-[50%] object-fill"></video>
</div>
<!--<div class="absolute m-auto bottom-10 mr-[20] left-[30%]" *ngIf="isPlaying && mode === 'owner'">-->
<!--    <span class="rounded-full mr-4 text-white p-5 cursor-pointer "-->
<!--          [ngClass]="cameraOff?'bg-red-700 hover:bg-red-800':'bg-green-700 hover:bg-green-800'"-->
<!--          (click)="turnVideoOnOrOff()">-->
<!--      <i class="fa-solid w-6 h-6" [ngClass]="cameraOff?'fa-video-slash':'fa-video-camera'"></i>-->
<!--    </span>-->
<!--  <span class="rounded-full text-white p-5 cursor-pointer hover:bg-red-800"-->
<!--        [ngClass]="isMuted?'bg-red-700 hover:bg-red-800':'bg-green-700 hover:bg-green-800'"-->
<!--        (click)="muteOrUnMute()">-->
<!--      <i class="fa-solid w-5 h-5" [ngClass]="isMuted?'fa-microphone-slash':'fa-microphone'"></i>-->
<!--    </span>-->
<!--</div>-->

<!--<div class="w-full h-full text-center flex justify-center"-->
<!--     [ngClass]="{'my-video': mode === 'owner'}">-->
<!--    <video #videoPlayer class="absolute z-10 w-auto min-w-full min-h-full max-w-none"-->
<!--           muted></video>-->


<!--</div>-->

